Django==6.0.1
djangorestframework==3.16.1
django-cors-headers==4.9.0
django-apscheduler==0.6.2
APScheduler==3.10.4
croniter==2.0.2
psycopg[binary]==3.1.19
python-dotenv==1.0.0
psycopg2-binary==2.9.9
requests==2.31.0
whitenoise==6.6.0
